<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FCC-Nightlife App</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <nav class="navbar">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">FCC-Nightlife</a>
        </div>
        <div class="navbar-end">
          {{#if user}}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-active" href="#">
              <p class="navbar-item"><img src="{{avatar}}" />&nbsp; {{user}}
              </p></a>
              <div class="navbar-dropdown ">
                <a class="navbar-item" href="/logout">Logout</a>
              </div>
            </div>
            {{else}}
            <a class="navbar-item" href="/login"> Login</a>
            {{/if}}
          </div>
        </div>
      </nav>
    </div>

    <section class="hero is-light is-fullheight">
      <div class="hero-head">
        <div class="columns">
          <div class="column is-half is-offset-one-quarter content">
            <h1 class="notification is-light has-text-centered"> Input your City: </h1>
          </div>
        </div>
        <div class="columns">
          <div class="column is-half is-offset-one-quarter content">
            <div class="field has-addons">
              <div class="control is-expanded">
                <input type="text" class="input" id="city" value="{{location}}">
              </div>
              <div class="control">
                <a class="button" id="location">Submit</a>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-half is-offset-one-quarter content has-text-centered">
            <span id="checkLogin">Please login to be able to Check-in.</span>
          </div>
        </div>
        <div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <span id="businesses"></span>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <h6>Created by <a href="https://codepen.io/jluboff/full/yJNrPd/">Jason Luboff</a></h6>
        </div>
      </div>
    </footer>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script>
    $(document).ready(function(){
      let  location = $('#city').val();
      $("#city").keypress(function(e) {
        if (e.which === 13) {
          $("#location").trigger('click');
        }
      });

      {{#if user}}
      $('#checkLogin').text('');
      {{else}}
      $('#checkLogin').text('Please login to be able to Check-in.');
      {{/if}}
      if(location !== undefined){
        $.getJSON(`/${location}`, data => {
          $.getJSON(`/${$('#city').val()}`, data => {
            data.forEach((biz) => {
              const titleCaseCity = city => city.split(' ').map(el =>  el[0].toUpperCase() + el.slice(1)).join(' ');
              let bizId = biz.name.replace(/['&\s]/g, '');
              let users = {};
              let city = titleCaseCity(biz.city);

              $('#businesses').append(`
                <div class="card">
                <div class="card-content">
                <p class="title">${biz.name}  </p>
                <p class="subtitle">Rating: ${biz.rating} </p>
                </div>
                <footer class="card-footer">
                <p class="card-footer-item">
                <span><a href="/going/${$('#city').val()}/${biz.name}" class="going" id="${bizId}">Going</a>: <span id="${bizId}Count"> ${biz.count} </span>
                </p>
                <p class="card-footer-item">
                <span id="${bizId}Users">${biz.address}<br>
                ${city}, ${biz.state} ${biz.zip}
                </span>
                </p>
                </footer>
                </div>
                `);
              })
            })
          });
        };

        $('#location').click((e) => {
          {{#if user}}
          $('#checkLogin').text('');
          {{else}}
          $('#checkLogin').text('Please login to be able to Check-in.');
          {{/if}}
          $('#businesses').empty();
          $.getJSON(`/${$('#city').val()}`, data => {
            data.forEach((biz) => {
              const titleCaseCity = city => city.split(' ').map(el =>  el[0].toUpperCase() + el.slice(1)).join(' ');
              let bizId = biz.name.replace(/['&\s]/g, '');
              let users = {};
              let city = titleCaseCity(biz.city);

              $('#businesses').append(`
                <div class="card">
                <div class="card-content">
                <p class="title">${biz.name}  </p>
                <p class="subtitle">Rating: ${biz.rating} </p>
                </div>
                <footer class="card-footer">
                <p class="card-footer-item">
                <span><a href="/going/${$('#city').val()}/${biz.name}" class="going" id="${bizId}">Going</a>: <span id="${bizId}Count"> ${biz.count} </span>
                </p>
                <p class="card-footer-item">
                <span id="${bizId}Users">${biz.address}<br>
                ${city}, ${biz.state} ${biz.zip}
                </span>
                </p>
                </footer>
                </div>
                `);
              })
            })
          });

          $(document).on('click', '.going', (e) => {
            e.preventDefault();
            $.ajax({
              type: 'POST',
              url: e.target.href,
              success: data => {
                $('#' + e.target.id + 'Count').html(data.count);
              }
            })
          })
        });
        </script>
</body>
</html>
